/* CSS file */
@namespace mx "http://www.adobe.com/2006/mxml";
@namespace flexlib "http://code.google.com/p/flexlib/";
flexlib|VAccordion 
{
   headerHeight: 55;
   vertical-gap: 4;
   background-alpha:1;
   open-duration:500;
   border-style:none;
   header-style-name: gradientHeader;
}
.gradientHeader 
{
    upSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    overSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    downSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    disabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedUpSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedOverSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedDownSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    selectedDisabledSkin:ClassReference('flexlib.skins.EnhancedButtonSkin');
    font-family:Arial;
    cornerRadii: 0, 0, 8, 8;
    borderColors: #FFFFFF, #FFFFFF;
    overBorderColors: #FFFFFF, #FFFFFF;
    selectedBorderColors: #FFFFFF, #FFFFFF;
    borderThickness: 1;
    borderAlpha: 1;
    fillColors: #ffffff, #e8e3cc;
    fillAlphas: 1, 1;
    fillColorRatios: 0, 255;
    overFillColors: #FFFFFF, #d2cd9c;
    overFillAlphas: 1, 1;
    overFillColorRatios: 0, 169;
    selectedFillColors: #FFFFFF, #d2cd9c;
    selectedFillAlphas: 1,1;
    selectedFillColorRatios: 0, 169;
}
.LISAHeaderLabel
{
    font-weight: bold;
    color: #333333;    
    font-size: 13;
    text-align:left;
}
.LISAHeaderDesc
{
    font-weight: normal;
    color: #666666;
    font-size: 10;
    text-align:left;
}