/* CSS file */
@namespace mx "http://www.adobe.com/2006/mxml";
@namespace lisa "http://www.lombardrisk.com/lisalib";
mx|Application 
{
    themeColor: #008cd6;
    color: #0b333c;
    backgroundColor: #ffffff;
    margin:0;
}

mx|ApplicationControlBar 
{
    highlightAlphas: 0.4, 0.13;
    fillAlphas: 1, 1;
    fillColors: #dfeefa, #badff6;
    backgroundAlpha: 1;
    dropShadowEnabled: true;
    shadowDistance: 0;
}

mx|Panel 
{
    borderStyle: solid;
    borderAlpha: 0.6;
    borderThickness: 0;
    roundedBottomCorners: true;
    cornerRadius: 8;
    highlightAlphas: 0, 0;
    headerColors: #dfeefa, #badff6;
    shadowDistance: 0;
    titleStyleName: "mypanelTitle";
}

lisa|DashPanel
{
    background-size: "100%";
    background-image: Embed(source="/assets/swfs/skin_blue.swf", symbol="Panel_smallBaseAsset");
}

.mypanelTitle 
{
    fontSize: 12;
    fontWeight: bold;
}
        
mx|Alert 
{
    titleStyleName: "alertTitle";
    messageStyleName: "alertMessage";
    buttonStyleName: "alertButton";
    dropShadowEnabled: true;
    shadowDistance: 0;
    cornerRadius: 8;
    backgroundColor: #ffffff;
}

.alertTitle 
{
    letterSpacing: 0;
    fontSize: 12;
    color: black;
    fontWeight: bold;
}

.alertMessage 
{
    letterSpacing: 0;
    fontSize: 11;
    fontWeight: normal;
    color: black;
}

.alertButton 
{
    letterSpacing: 0;
    fontSize: 11;
    cornerRadius: 5;
    fontWeight: bold;
    textRollOverColor: black;
    color: black;
    themeColor: #008cd6;
}

mx|ProgressBar 
{
    backgroundColor: #ffffff;
}

mx|TabBar 
{
    tabStyleName: myCustomTabStyleName;
    selectedTabTextStyleName: myCustomSelectedTabTextStyleName;
}

.myCustomTabStyleName 
{
    fillColors: #f9f9f9, #f9f9f9;
    fillAlphas: 1.0, 1.0;
}

.myCustomSelectedTabTextStyleName 
{
    color: black;
    backgroundColor: #dfeefa, #badff6;
}
   

.HightLight 
{
    background-color:#3399FF;
    color:#FFCC00;
    font-weight:bold;
}

mx|DataGrid 
{
    selectionColor: #7fc5ea;
}