
*{
	font-size:100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}

body{
	background:#fff;
	margin:0;
	padding:0;
}

html{
	width:100%;
}

img{
	border:0;
}

a{
	cursor:pointer;
	cursor:hand;
}

.main{
	width:1440px;
	margin:0px auto;
}

.header{
	width:1440px;
	height:175px;
}

.header_content{
	text-align:left;
	font-family:'KlavikaBoldBoldItalic';
	font-size:20px;
	position:absolute;
	padding:110px 0px 0px 260px;
	z-index:1900;
	height:115px;
	width:1180px;
	background:url(../images/header_background.png) no-repeat;
}

h1{
	font-size:0.7em;
	letter-spacing:2px;
	font-weight:normal;
}

small{
	font-size:0.5em;
	letter-spacing:1px;
	font-weight:normal;
}

.line{
	width:35px;
	height:1px;
	background:#ccc;
	margin:3px 0 3px 0;
}

.accordionWrap{
	width:100%;
}

.accordionWrap .accordionActive .content .title, .accordionWrap .accordionHover .content .title{
	background:url(../images/active_link_underline.png) left bottom repeat-x;
}
.accordionWrap .accordionActive .content .arrow, .accordionWrap .accordionHover .content .arrow{
	display:block;
}
.accordionWrap .accordionActive .content .arrow{
	background:url(../images/arrow_up.png) no-repeat;
}
.accordionHeader{
	width:100%;
	height:100px;
	cursor:pointer;
	cursor:hand;
	text-align:left;
	padding-top:1px;
}
.accordionHeader .content .title{
	margin-top:50px;
	margin-left:260px;
	padding-bottom:5px;
	position:absolute;
}
.accordionHeader .content .arrow{
	float:right;
	width:59px;
	height:32px;
	margin-top:70px;
	margin-right:260px;
	display:none;
	background:url(../images/arrow_down.png) no-repeat;
}
.accordionHeader .content{
	position:absolute;
	width:1440px;
}
.accordionHeader .content .title a{
	font-family:'MyriadProBlackCondensed';
	font-size:48px;
	color:#ffffff;
	background:url(../images/active_link_underline.png) 5px bottom repeat-x;
}
.accordionHeader#w1{
	height:150px;
}
.accordionHeader#w1 .title{
	margin-top:70px;
}
.accordionHeader#w1 .arrow{
	margin-top:80px;
}
.accordionHeader#w1 .content{
	height:190px;
	z-index:1800;
	background:url(../images/user_background.png) no-repeat;
}
.accordionHeader#w2{
	height:120px;
}
.accordionHeader#w2 .content{
	height:170px;
	z-index:1700;
	background:url(../images/produkte_background.png) no-repeat;
}
.accordionHeader#w3{
	height:120px;
}
.accordionHeader#w3 .content{
	height:170px;
	z-index:1600;
	background:url(../images/angebote_background.png) no-repeat;
}
.accordionHeader#w4{
	height:120px;
}
.accordionHeader#w4 .content{
	height:170px;
	z-index:1500;
	background:url(../images/team_background.png) no-repeat;
}
.accordionContent{
	width:100%;
	padding:50px 0 50px 0;
	display:none;
}

.accordionContent img{
	display:block;
}



.bottom{
	width:1440px;
	height:125px;
	background:url(../images/bottom_background.png) no-repeat;
}

/*------------------ ÜBER UNS Carousel------------------------*/
#carouselwap{
	height:760px;
	width:1440px;
	margin-top:-50px;
}
#carouselContainer{
	overflow:hidden;
	position:absolute;
	width:1440px;
	height:760px;
	margin-top:0px;
	left:0px;
}
#carouselContainer div.active{
	margin-left:0px;
}
.carouselContentWap{
	position:absolute;
	margin-top:0px;
	width:100%;
	margin-left:2000px;
}

.carouselContent{
	width:100%;
	height:760px;
}

.whowearebg{
	background:#000 url(../images/carousel/background1.jpg) no-repeat;
}

.carousel{
	position:absolute;
	padding-top:1px;
	margin:760px auto 0px auto;
}

.carousel .carouselItem{
	float:left;
	width:27px;
	height:27px;
	cursor:pointer;
	background:url(../images/icon_dot.png) no-repeat;
}
.carousel .active{
	background:url(../images/icon_dot_active.png) no-repeat;
}
#dockContent{
	position:absolute;
	margint:0px auto;
}